﻿@model TRPO_Lab5.Asp.Models.Container

@{ ViewData["Title"] = "Боковая поверхность правильной пирамиды";
    IgnoreBody(); }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>square</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <h1>Боковая поверхность правильной пирамиды</h1>
    <div>
        <figure>
            <img style=" width: 400px; height: 300px;" src ="https://ds04.infourok.ru/uploads/ex/06e4/0007bb8b-94e2d1b2/img6.jpg" />
        </figure>
        <hr />
        <div class="col-md-4">
            <form action="" method="post">
                <div class="form-group">
                    <p>Значение периметра основания (P)</p>
                    <label for="@nameof(Container.P)"></label>
                    <input type="text" name="@nameof(Container.P)" value="@Model?.P" />
                </div>
                <div class="form-group">
                    <p>Значение апофемы (H)</p>
                    <label for="@nameof(Container.H)"></label>
                    <input type="text" name="@nameof(Container.H)" value="@Model?.H" />
                </div>
                <div class="form-group">

                    <label for="@nameof(Container.Square)"></label>
                    <label name="@nameof(Container.Square)">@Model?.Square</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Рассчитать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>